<div class="dashboard">
  <div class="dashboard-header dashboard-header-3col">
    <h1>Expenses</h1>
    <nav class="header-center">
      <%= link_to "Dashboard", root_path, class: "btn-filter" %>
      <%= link_to "Subscriptions", subscriptions_path, class: "btn-filter" %>
    </nav>
  </div>
  <div class="panel-grid">
    <%= render "expenses" %>
  </div>
</div>
